<%= provide(:title, "Edit Team Name") %>
<%= provide(:button_text, "Update") %>

<div class="centre-form">
  <h2>Edit Team Name</h2>
  <%= render 'teams/team_form' %>
  </br>
  <%= link_to "Back", teams_path %>
</div>
