.centre-form
  %h2 Move Task to Category...
  = form_for @task, url: { controller: "allocations", action: "accept" }, html: {:method => :patch} do |f|
    .form-group.input-group
      = f.collection_select :category_id, current_user.categories, :id, :title, {}, class: "form-control"
      .input-group-btn
        = f.submit "Move", class: "btn btn-primary"
  = link_to "Cancel", request.referrer
