<div class="centre-form">
  <h2>Move Task to Category...</h2>
  <%= form_for [@category, @task] do |f| %>
    <div class="form-group input-group">
      <%= f.collection_select :category_id,
      current_user.categories,
      :id, :title,
      {},
      class: "form-control" %>
      <div class="input-group-btn">
        <%= f.submit "Move", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  <%= link_to "Cancel", categories_path %>
</div>
