<%= provide(:title, "Update Password") %>
<%= provide(:button_text, "Update") %>

<div class="page-header">
  <h2 class="page-title">Update Password</h2>
</div>
<div class="user">
  <%= render 'shared/form' %>
</div>
