<%= provide(:title, "Sign Up") %>
<%= provide(:button_text, "Sign Up") %>

<h2>Sign Up for TaskLine</h2>
<%= render 'shared/form' %>

<p>Already have an account? <%= link_to "Sign In", root_path %></p>
