<%= provide(:title, "Sign Up") %>
<%= provide(:button_text, "Sign Up") %>

<div class="form-holder">
  <%= render 'shared/form' %>
</div>

<p>Already have an account? <%= link_to "Sign In", root_path %></p>
