<%= provide(:title, "Sign Up") %>
<%= provide(:button_text, "Sign Up") %>
<div class="page-header">
  <h2 class="page-title">Sign Up for TaskLine</h2>
</div>
<div class="user">
  <%= render 'shared/form' %>
</div>

<p>Already have an account? <%= link_to "Sign In", root_path %></p>
