<%= provide(:button_text, "Sign Up") %>
<%= provide(:title, "Sign Up") %>

<div class="centre-form">
  <h1>Sign Up</h1>
  <%= render 'shared/form' %>
  <br/>
  <p>
    Already have an account? <%= link_to "Sign In", root_path %>
  </p>
</div>
