<%= provide(:title, "Profile") %>

<div class="page-header">
  <h2 class="page-title">Profile</h2>
</div>
<%= link_to "Delete Account", current_user, method: :delete, data: { confirm: "Are you sure?" } %>
