.title-wrapper {
  position: relative;
  display: inline-block;
  line-height: 1;
}
.category-title, .toggled-title {
  font-family: $header;
  font-size: 1.25em;
  padding-right: 0.9em;
  &:after {
    height: 0;
    width: 0;
    content: "";
    border: 0.3em solid;
    border-color: #aaa transparent transparent;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(10%, -45%);
  }
}
.fa-plus-square {
  float: right;
  font-size: 1.25em !important;
}
