@media only screen
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .content {
    padding: 120px 20px 0;
  }
  .aside {
    margin-left: 20px;
  }
  .main {
    width: 60%;
  }
  .form-control, .btn {
    min-height: 40px;
  }
  .logo {
    margin-left: 20px;
  }
  .profile-link {
    margin-right: 10px !important;
  }
}
// @media only screen
//   and (max-device-width: 780px)
//   and (-webkit-min-device-pixel-ratio: 2)
@media (max-width: 780px) {
  html {
    font-size: 46px;
  }
  .content {
    padding: 3.8em 0 0 0;
  }
  .nav-link, .profile-link {
    display: none !important;
  }
  .sub-box {
    border-top: 0.4em solid #eee !important;
  }
  .phone-nav {
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100%;
  }
  .phone-link {
    width: 100%;
    height: 8vh;
    background-color: #eee;
    text-align: center;
    border-bottom: 1px solid #ddd;
    p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .nav-toggle {
    display: inline-block !important;
    float: right;
    font-size: 1.9em !important;
    margin-right: 1.25em;
    color: #fff;
    cursor: pointer;
  }
  .split-layout {
    display: block;
  }
  header {
    position: absolute;
    height: 8vh;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
  }
  .logo, .nav-toggle {
    font-size: 2em !important;
  }
  .box {
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }
  .aside {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0;
    flex: none;
    margin-bottom: 3em;
  }
  .main {
    width: 100%;
    margin: 0;
  }
  .centre-form {
    width: 100%;
  }
  $size: 0.9em;

  .form-control {
    font-size: $size;
    padding: 1em 0.5em;
  }
  .input-group-addon {
    font-size: $size;
    padding: 0.5em 0.5em;
  }
  .btn {
    font-size: $size;
    padding: 0.3em 0.6em;
  }

  .input-group-btn {
    .btn {
      font-size: 1em;
      padding: 0.3em 0.5em;
    }
    font-size: $size;
    padding: 0;
  }
  .form-control {
    display: inline-block;
  }
  input[type=radio], input[type=checkbox] {
    width: $size;
    height: $size;
    font-size: $size;
  }

}
