.tasks {
}
.task {
  @include sub_box;
  display: flex;
  .fa-check {
    font-size: 20px;
    color: #fff;
    &:hover {
      color: #888;
    }
  }
}
.tickbox {
  position: absolute;
  height: 25px;
  flex: 0 0 auto;
  width: 25px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #888;
  top: 50%;
  transform: translate(20%, -50%);
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
  }
}
.info {
  width: 67%;
  margin-left: 45px;
  word-wrap: break-word;
  display: inline-block;
  flex: 1 1 0;
  float: right;
  height: 100%;
}
.task-menu {
  &:before {
    height: 0;
    width: 0;
    content: "";
    border: 6px solid;
    border-color: transparent transparent #fff;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  background-color: #fff;
  width: 90px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 40px;
  right: -28.5px;
  z-index: 20;
  display: none;
  padding: 10px;
}
.menu-toggle {
  cursor: pointer;
  color: $links;
  &:hover {
    color: $links-hover;
  }
}
.task-content {
  padding: 0;
  font-weight: bold;
}
#task_repeat {
  cursor: pointer;
}
.toggle-more {
  font-size: 14px;
}
.task-more {
  display: none;
  font-size: 14px;
}
.every-field {
  width: 100%;
}
.every {
  width: 15% !important;
}
.every-number {
  width: 20% !important;
}
.every-period {
  width: 80% !important;
}
.task-overdue-deadline {
  color: red !important;
}
.completed-task {
  @include sub_box;
  display: none;
  .info {
    text-decoration: line-through;
    color: #888;
  }
  a {
    color: #888;
    &:hover {
      color: #444;
    }
  }
  .fa-check {
    font-size: 20px;
    color: #888;
    &:hover {
      color: #ccc;
    }
  }
}
.toggle {
  cursor: pointer;
  color: $links;
  display: inline-block;
  &:hover {
    color: $links-hover
  }
}
.form-nav {
  width: 100%;
  height: 30px;
  font-family: $header;
  font-size: 20px;
  line-height: 1.4;
}
.new-task-form {
  display: none;
}
.new-task-toggle {
  color: #337ab7;
  &:hover {
    color: #23527c;
  }
}
