<%= provide(:button_text, "Sign In") %>
<% if signed_in? %>
  <%= render 'shared/items' %>
<% else %>
  <div class="page-header">
    <h2 class="page-title">Sign In</h2>
  </div>
  <div class="user">
    <%= render 'users/signin' %>
  </div>
<% end %>
