<div class="hero">
  <% image_tag "desk.jpg", alt: "Desk" %>
  <% if user_signed_in? %>
    <%= link_to "Todo Lists", todo_lists_path %>
  <% else %>
    <%= render 'users/partials/signup_form' %>
  <% end %>
</div>
