<div class="split-layout">
  <div class="main">
    <div class="box">
      <div class="title-wrapper">
        <h2>Team Invites</h2>
      </div>
      <% if current_user.received_invites.count == 0 %>
        <p>You currently have no team invites</p>
      <% else %>
        <% current_user.received_invites.each do |invite| %>
          <div class="sub-box">
            <span class="task-content">
              <%= Team.find(invite.team_id).name %>
            </span>
            <%= link_to "", invite, method: :delete, class: "fa fa-trash" %>
            <p class="sub-info">From: <%= User.find(invite.sender_id).email %></p>
            <%= link_to "Join", team_memberships_path(invite.team), method: :post %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="aside">
  </div>
</div>
