<li id="category-<%= list_category.id %>">
  <span class="title"><%= list_category.title %></span>
  <span class="edit-category"><%= link_to "Edit", '#' %></span>
  <span class="delete-category"><%= link_to "Delete", '#', method: :delete %></span>
</li>
