<li class="category" id='<%= category.id %>'>
  <span class="title"><%= link_to category.title, list_category_path(category) %></span>
  <span class="delete-category">
    <%= link_to "", category, method: :delete, class: "fa fa-trash", data: { confirm: "Are you sure?" } %>
  </span>
</li>
