@import "bootstrap-sprockets";
@import "bootstrap";

// RESET
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, fieldset, form, footer, header, menu, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
footer, header, menu, nav, {
	display: block;
}
ol, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// MIXINS AND VARIABLES

  @mixin sub_box {
    background-color: $main;
    margin-top: 10px;
    border-radius: 7px;
    padding: 10px;
    box-sizing: border-box;
    min-height: 55px;
    position: relative;
    box-shadow: 0 2px 2px #d8d8d8;
  }

  // COLOURS
  $main: #e8e8e8;
  $accent: #f3f3f3;
  $text: #111;
  $links: #337ab7;
  $links-hover: #23527c;

  // FONTS
  $header: 'Baloo Bhaina', cursive;
  $copy: 'Roboto', sans-serif;

// GLOBAL STYLES
html {
  font-family: $copy;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 101vh;
  background-image: linear-gradient(to top right, #888, #fff);
}
h1, h2, h3, h4, h5, h6 {
  font-family: $header;
}
.content {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 20px;
  padding-top: 120px;
  flex: 1 1 auto;
  // background-color: rgba(0, 0, 0, 0.2);
}
.form-holder {
  width: 40%;
}
.split-layout {
  display: flex;
}
.page-header {
  width: 100%;
}
.box {
  background-color: $accent;
  margin: 0 10px 10px 0;
  padding: 10px;
  border-radius: 7px;
  width: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  display: inline-block;
}
.sub-box {
  @include sub-box;
}
a {
  &:hover {
    text-decoration: none;
  }
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 20px;
}
.main {
  width: 52%;
  margin: 0 40px 100px 0;
  display: inline-block;
  flex: 0 0 auto;
}
.aside {
  width: 40%;
  display: inline-block;
  float: right;
  flex: 1 1 0;
}
.above-aside {
  margin-bottom: 10px;
}
.desk {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  z-index: -5;
  background-image: url('/assets/desk.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}
.centre-form {
  background-color: $accent;
  width: 500px;
  padding: 20px;
  margin: auto;
  margin-top: 10%;
  border-radius: 6px;
  h1 {
    text-align: center;
  }
}
.sub-info {
  font-size: 14px;
  font-style: italic;
  color: #888;
}
.big-links {
  display: inline-block;
  float: right;
  span {
    float: right;
    margin-left: 10px;
    font-size: 20px;
    line-height: 1;
  }
}

// FOOTER STYLES
footer {
  width: 100%;
  height: 150px;
  background-color: #222;
}

// HEADER STYLES
header {
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: $accent;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  z-index: 30;
}
.nav {
  width: 100%;
  max-width: 1280px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  li {
    float: right;
    display: inline-block;
    a {
      color: #444;
      &:hover {
        color: #888;
      }
    }
    .profile-link {
      padding: 0;
      padding-right: 20px;
    }
  }
}
.logo {
  float: left;
  font-family: $header;
  font-size: 30px;
  margin-left: 20px;
  position: absolute;
  bottom: 50%;
  transform: translate(0, 60%);
  color: #444;
  &:hover {
    color: #888;
  }
}
.small-pic {
  border-radius: 39px;
}
.edge-link {
  margin-right: 20px !important;
}

// CALENDAR STYLES
.day {
  width: 15%;
  height: 15%;
  float: left;
  display: flex;
  border: 1px solid #ddd;
}
.day-header {
  background-color: rgba(255, 0, 0, 0.2);
  height: 30px;
  width: 100%;
  flex: 0 0 auto;
}
.day-content {
  flex: 1 1 0;
  width: 100%;
}

// TASK STYLES
.task {
  @include sub_box;
  display: flex;
  .fa-check {
    font-size: 20px;
    color: #fff;
    &:hover {
      color: #888;
    }
  }
}
.tickbox {
  position: absolute;
  height: 25px;
  flex: 0 0 auto;
  width: 25px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #888;
  top: 50%;
  transform: translate(20%, -50%);
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
  }
}
.info {
  width: 67%;
  margin-left: 45px;
  word-wrap: break-word;
  display: inline-block;
  flex: 1 1 0;
  float: right;
  height: 100%;
}
.small-links {
  width: 20%;
  display: inline-block;
  flex: 0 0 auto;
  height: 100%;
  float: right;
  span {
    float: right;
    margin-left: 10px;
    line-height: 1;
    font-size: 14px;
  }
}
.task-content {
  padding: 0;
  font-weight: bold;
}
#task_repeat {
  cursor: pointer;
}
.toggle-more {
  font-size: 14px;
}
.task-more {
  display: none;
  font-size: 14px;
}
.every-field {
  width: 100%;
}
.every {
  width: 15% !important;
}
.every-number {
  width: 20% !important;
}
.every-period {
  width: 80% !important;
}
.task-overdue-deadline {
  color: red !important;
}
.completed-task {
  @include sub_box;
  display: none;
  .info {
    text-decoration: line-through;
    color: #888;
  }
  a {
    color: #888;
    &:hover {
      color: #444;
    }
  }
  .fa-check {
    font-size: 20px;
    color: #888;
    &:hover {
      color: #ccc;
    }
  }
}
.toggle {
  cursor: pointer;
  color: $links;
  display: inline-block;
  &:hover {
    color: $links-hover
  }
}
.form-nav {
  width: 100%;
  height: 30px;
  font-family: $header;
  font-size: 20px;
  line-height: 1.4;
}
.new-task-form {
  display: none;
}
.new-task-toggle {
  color: #337ab7;
  &:hover {
    color: #23527c;
  }
}

// CATEGORY STYLES
.stats {
  margin-top: 10px;
  h2 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
  li {
    margin-bottom: 5px;
  }
}
.title-wrapper {
  position: relative;
  display: inline-block;
  line-height: 1;
}
.category-title, .toggled-title {
  font-family: $header;
  font-size: 20px;
  padding-right: 15px;
  color: $links;
  cursor: pointer;
  &:hover {
    color: $links-hover
  }
  &::after {
    height: 0;
    width: 0;
    content: "";
    border: 6px solid;
    border-color: #888 transparent transparent;
    position: absolute;
    top: 50%;
    transform: translate(50%, -36%);
  }
}
.page-title {
  display: inline-block;
  line-height: 1;
  color: $accent;
}
.fa-plus-square {
  float: right;
  cursor: pointer;
  font-size: 20px !important;
}

// TEAM STYLES
.team-member {
  box-sizing: border-box;
  padding-bottom: 10px;
  span {
    margin-right: 10px;
  }
  .admin-tag {
    color: red;
  }
  .you-tag {
    color: #2ECC71;
  }
}
