<%= provide(:title, "Edit Category") %>
<%= provide(:button_text, "Update") %>
<div class="form-holder">
  <%= render 'categories/category_form' %>
</div>
</br>
<%= link_to "Back", categories_path %>
