title = full_title(yield(:title))
= csrf_meta_tags
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
meta content="text/html" charset="UTF-8"
script type="text/javascript" src="https://use.fontawesome.com/f2d811d9f9.js"
link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Robot" rel="stylesheet"
