title = full_title(yield(:title))
= csrf_meta_tags
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
meta content="text/html" charset="UTF-8"
= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
link rel='stylesheet' href="ttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'
script type="text/javascript" src="https://use.fontawesome.com/f2d811d9f9.js"
link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Robot" rel="stylesheet"
