<!DOCTYPE html>
<html>
  <head>
    <title>TrialApp</title>
    <%= render 'layouts/default_head' %>
    <%= render 'shared/shim' %>
  </head>

  <body>
    <%= render 'users/flash' %>
    <%= yield %>
  </body>
</html>
